.cards{
    /* margin-top: 30px; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.all-cards{
    width: 82%;
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    
}